:root {
	--color_primary: #d8575d;
	--color-secondary: #2255B4;
	--color3: #A1CDE0;
	--color4: white;
	--color5: #262626;
}

/* a {
	color: var(--color4) !important;
} */

a:link {}

a:visited {}

a:focus {}

a:hover {}

a:active {}

button {
	display: inline-flex;
	background: var(--color_primary);
	color: var(--color4);
	border: 2px #262626 solid;
	padding: 0.625rem 1.25rem;
	border-radius: 1.5625rem;
	background: linear-gradient(180deg, #D8575D 68.18%, #C7545A 100%);
}

.page-wrapper {
	margin: 5%;
	/* border: 10px #d8575d solid;
	border-style: double; */
}

.section-style {
	padding-inline: 50px;
}

.nav-bar {
	display: flex;
	background: var(--color_primary);
	color: white;
	font-size: 20px;
	justify-content: space-around !important;
	align-items: center;
	padding: 10px 5%;
	z-index: 1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-block: 40px;
}

.nav-bar text {
	color: var(--color4);
}

.nav-links {
	display: flex;
	justify-content: center;
	gap: 50px;

}

.nav-links h3 {
	text-decoration: none;
	color: var(--color4);
}

h1 {
	font-family: "ringold-clarendon", sans-serif;
	font-weight: 800;
	font-style: normal;
}

h2 {
	font-weight: 600 !important;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
	font-weight: 400;
}

.brand-colors {
	background-color: var(--color_primary);
}

.logo {
	font-family: "ringold-clarendon", sans-serif;
	font-weight: 900;
	color: var(--color4);
}

.centered-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



.hero_full {
	display: flex;
	/* height: 100vh; */
	align-items: center;
	justify-content: center;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 3rem;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: var(--color4);
	border-block: solid 20px var(--color_primary);
}

.hero-button {
	color: var(--color-secondary);
}

.hero h1 {
	color: var(--color5);
}

.hero img {
	/* width: 95%; */
	height: auto;
	border: var(--color_primary) solid 10px;
	border-style: double;
}

.account-links {
	display: flex;
	flex-flow: row;
	justify-self: center;
	justify-content: center;
}

.account-links button {
	height: 90px;
	border-width: 9.03px, 0px, 9.03px, 0px;
	border-style: solid;
	border-color: #2255B4;
}

.about-section {
	display: grid;
	margin: 5%;
	padding: 5% 10%;
	border-block: 2px solid var(--color-secondary);
}

.playbook {
	display: block;
	gap: 5%;
}

.playbook-content {
	display: flex;
	justify-content: center;
	gap: 5%;
}

.card-layout {
	display: grid;
	grid-template-rows: ;
}

footer {
	background: var(--color_primary);
	align-items: center;
}