:root {
	color1: #d8575d;
	color2: #2255B4;
	color3: #A1CDE0
}

h1 {
	font-family: "ringold-clarendon", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-weight: 500;
}

body {
	font-family: "poppins", sans-serif;
}